
body
{
    background-color: #333333 !important;
}
.esociety
{
font-family: Rajdhani;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 119.69%;
margin-top: 6%;
color: #FFBD00;
}
.welcome
{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 17.8px;
line-height: 119.69%;
color: #000000;   
}
.input
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 25px;
    background: rgba(86,86,86,0.19);
    border-color: #000000;
}
.forget_password
{
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 119.69%;
}
.signup
{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 119.69%;
color: white;
}
/* .twitter */
/* { */
    /* color: #1c9eed; */
/* } */
.icom
{
    margin-left: 50%;
}