{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <table  width="100%" class="table table-hover">
    <thead>
       <tbody>
        <tr>
            
            <th>User ID</th>
            <th>User Name </th>
            <th>User EmailS</th>
            <th>User Pass</th>
            <th>User DOB</th>
            <th>User Reg_no</th>
           
            
        </tr>
       </tbody>
    </thead>
    
        {% for row in person %}
        <tr>
            {%  for column in row %}
             
                <td>{{column}}</td> 
             
            {% endfor %}
            <br>
        </tr>
        
        {% endfor %}
    </table>
    {% endblock %}
</body>
</html>