<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load bootstrap4 %}
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Esociety</title>
</head>
<body class="body">

<header>
       <div class="container">
        <div class="row pt-5">
            <img src="{% static 'images/myu.png' %}" class="myulogo"  alt="myulogo">
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
               <p class="text-center society"><span class="e">e</span>Society</p>
            </div>
        </div>
       </div>
       
</header>
<form action="" method="POST">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
                <div class="card border-0" id="card">
                    <div class="card-body text-center border-0">
                     <p class="welcome text-center"> Welcome to <span class="society" style="font-size: 24px;"><span class="e" style="font-size: 24px;">e</span>Society</span></p>
                                <form action="" method="POST">    
                                    <div class="container">
                                        <div class="row " >
                                            <div class="col-lg-12 col-md-12 col-sm-12 ">
                                               <div class="input-group mb-3  text-center d-flex justify-content-center"  >
                                                   <div class="input-group-prepend  text-center">
                                                     <span class="input-group-text"><em class="fas fa-user icon"></em></span>
                                                   </div>
                                                   <input type="text" class="input_email" placeholder="Username" id="usr" name="username">
                                               </div>
                                               <div class="input-group mb-3  d-flex justify-content-center">
                                                   <div class="input-group-prepend">
                                                     <span class="input-group-text ">
                                                         <em class="fas fa-envelope icon"></em></span>
                                                   </div>
                                                   <input type="text" class="input_email" placeholder="Email address" id="usr" name="username">
                                               </div>
                                               <div class="input-group mb-3 d-flex justify-content-center">
                                                   <div class="input-group-prepend ">
                                                     <span class="input-group-text"><em class="fas fa-lock icon"></em></span>
                                                   </div>
                                                   <input type="password" class="input_email" placeholder="Password" id="usr" name="username">
                                               </div>
                                               <div class="input-group mb-3 d-flex justify-content-center">
                                                   <div class="input-group-prepend">
                                                     <span class="input-group-text"><em class="fas fa-registered icon"></em></span>
                                                   </div>
                                                   <input type="text" class="input_email" placeholder="Reg NO." id="usr" name="username">
                                               </div>  
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                 <button class="mr-5 login">Login</button>
                                 <button class="create_account">Create Account</button>
                                 <br>
                                 <p class="forget_pass mt-4" >Forgot password?</p>
                                 <br>
                                 <p class="sign_up mt-4">or SignUp By Using This.</p>
                                 <img class="logo google_logo" src= "{% static '/images/google.png' %}" alt="google-logo">
                                 <img class="logo fb_logo" src="{% static 'images/fb.png' %}" alt="">
                                 <img class="logo twitter_logo" src="{% static 'images/twitter.png' %}" alt="">
                        </div>
                </div>
          
             </div>
        </div>
    </div>
</form>
            <br class="mb-5">
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>